[submodule "stacktrace"]
	path = stacktrace
	url = https://github.com/ACoderOrHacker/ox.stacktrace.git
[submodule "termcolor"]
	path = termcolor
	url = https://github.com/ACoderOrHacker/ox.termcolor.git
[submodule "utility"]
	path = utility
	url = https://github.com/ACoderOrHacker/ox.utility.git
