[submodule "ox.termcolor"]
	path = ox.termcolor
	url = https://github.com/ACoderOrHacker/ox.termcolor.git
[submodule "ox.stacktrace"]
	path = ox.stacktrace
	url = https://github.com/ACoderOrHacker/ox.stacktrace.git
